<ion-view>
  <ion-nav-title>Delivery Details</ion-nav-title>
  <ion-content padding="true">
    <ion-refresher class="spinner-balanced" on-refresh="reload()"></ion-refresher>
    <div class="text-center">
      <ion-spinner class="spinner-balanced" ng-show="loading"></ion-spinner>
    </div>
    <div ng-show="!loading">
      <h3>{{event.name_giver}} to {{event.name_reciever}}</h3>
      <br>

      <!-- Addresses -->
      <ion-list>
        <ion-item class="item-divider item-icon-right"><b>From</b> <i class="icon ion-location"></i></ion-item>
        <ion-item>
          {{event.address_giver}}
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item class="item-divider item-icon-right"><b>To</b> <i class="icon ion-location"></i></ion-item>
        <ion-item>
          {{event.address_reciever}}
        </ion-item>
      </ion-list>
      <br>
      <!-- Food List -->
      <ion-list>
        <ion-item class="item-divider item-icon-right"><b>Food Items</b> </ion-item>
        <ion-item class="item-icon-right">
          {{event.food}}
        </ion-item>
      </ion-list>
      <br>
      <!-- Contact-->
      <ion-list>
        <ion-item class="item-divider item-icon-right"><b>Contact</b> <i class="icon ion-chatboxes"></i></ion-item>
        <ion-item class="item-icon-right" ng-click="call()">
          {{event.name_giver}} at {{event.phone_giver}}
          <i class="icon ion-android-call"></i>
        </ion-item>
        <ion-item class="item-icon-right" ng-click="call()">
          {{event.name_reciever}} at {{event.phone_reciever}}
          <i class="icon ion-android-call"></i>
        </ion-item>
      </ion-list>
    </div>
    <br>
    <!-- Submit Button -->
    <center>
      <a href="C:\Users\David\Documents\GitHub\proj\handMeUp\app\www\app\templates\dashboard.html">
      <button type="button" style="background-color: #009688; color: #FFFFFF;">Accept
      </button>
      </a>
    </center>
  </ion-content>
  <ion-footer-bar class="bar-stable">
    <div class="buttons">
      <div class="button button-clear" ng-disabled="loading" ng-click="map()">
        <i class="icon ion-map"></i> Maps
      </div>
    </div>
    <h1 class="title"></h1>
    <div class="buttons">
      <div class="button button-clear" ng-disabled="loading" ng-click="report()">
        Report
        <i class="icon ion-android-alert"></i>
      </div>
    </div>
  </ion-footer-bar>
</ion-view>
